#table {
  border-right: solid;
  border-bottom: solid;
  border-collapse: collapse;
}
table tr:nth-child(2n) {
  background-color: lightblue;
}
td {
  border-top: solid;
  border-left: solid;
}
th {
  border-top: solid;
  border-left: solid;
  font-size: 16px;
  background-color: lightslategrey;
}
.address {
  width: 400px;
  text-align: center;
}
.age {
  width: 100px;
  text-align: center;
}
.name {
  width: 100px;
  text-align: center;
}
.phone {
  width: 100px;
  text-align: center;
}
.search-container {
  margin-top: 1cm;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search {
  border-radius: 20px;
  padding-left: 10px;
  border-color: gray;
  width: 30%;
  height: 30px;
}
#menu option {
  background-color: #82caff;
}
option {
  color: aliceblue;
}
body {
  background-color: beige;
}
